<%= div_for movie, class: 'panel panel-default' do %>
  <div class='panel-heading'>
    <div class='row'>
      <div class='col-md-6'>
        <h2 class='panel-title'><%= link_to movie.name, movie %></h2>
      </div>
      <div class='col-md-6'>
        <div class='pull-right'>
        <% movie.genres.each do |genre| %>
          <span class='label label-primary'><%= genre.name %></span>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class='panel-body'>
    <p><%= movie.synopsis %></p>
    <div class='meta'>
      <span class='label label-default'><%= movie.runtime.to_s + " minutes" if movie.runtime.present? %></span>
      <span class='label label-default'><%= "Review: " + movie.review.to_s  if movie.review.present? %></span>
    </div>
    <hr>
    <% movie.crews.each do |crew| %>
      <span class='label label-default'><%= crew.name %></span>
    <% end %>
  </div>
<% end %>