<h3><%= agg.name %></h3>
<ul class='nav nav-pills nav-stacked'>
  <% agg.buckets.each do |bucket| %>
    <%= content_tag :li, class: aggregation_active?(agg.kind, bucket.id) do %>
      <%= link_to aggregation_path(agg.kind, bucket.id, :merge) do %>
        <%= bucket.name %> (<%= bucket.count %>)
      <% end %>
    <% end %>
  <% end %>
</ul>