<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Movie Database" %></title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <%= render 'layouts/shared/navigation' %>
  <div class='container'>
    <%= yield %>
  </div>
  <%= render 'layouts/shared/footer' %>
</body>
</html>
