<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Movie Database" %></title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <div class='container'>
    <%= yield %>
  </div>
  <footer class='container'>
    <div class='row'>
      <p class='text-center'>
        Created as a sample project for <%= link_to "Codemy.net Elasticsearch Series", "https://www.youtube.com/playlist?list=PLjQo0sojbbxWcy_byqkbe7j3boVTQurf9", target: "_blank" %>
      </p>
      <p class='text-center'>View <%= link_to "Source on Github", "https://github.com/zacksiri/moviedb", target: "_blank" %></p>
    </div>
  </footer>
</body>
</html>
